.climb-card {
    background-color:  #e84832;
    padding: 5px 15px;
    margin: 0 auto 2px;
    max-width: 50%;
}

.climb-card p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

h4 span {
    color: #fff;
    font-size: 18px;
    text-transform: none;
}

h4 span.climbName {
}

i {
    color: #fff;
}

@media screen and (max-width: 768px) {
    .climb-card {
        max-width: 90%;
    }
}
