.climb-card {
    background-color:  #e84832;
    padding: 5px 16px 32px 16px;
    margin: 0 auto 2px;
    max-width: 50%;
}

.climb-card p, .climb-routes {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.climb-routes {
    font-size: 14px;
}

.climb-routes .fas.fa-chevron-right {
    font-size: 12px;
    margin-right: 8px;
}

.climb-card p {
    margin-bottom: 0px;
}

h5 {
    color: #fff;
    font-size: 21px;
    text-transform: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 16px;
}

h5 span.seperator {
    margin-right: 8px;
    margin-left: 8px;
}

.icons {
    text-align: right;
    margin-top: 4px;
}

.icons a {
    color: #fff;
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .climb-card {
        max-width: 90%;
    }

    h5 span {
        display: block;
    }

    h5 span.seperator {
        display: none;
    }
}
