.edit-form-content {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(250,250,250,.6), rgba(250,250,250,.6)), url('../../images/vertical_explore_login.jpg');
    background-position: 40% 50% ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 0;
    margin: 0 auto;
}

form h3 {
    text-align: center;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

form p {
    font-family: Roboto, 'sans-serif';
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 16px;
}

hr {
    height: 1px;
    width: 100%;
    background-color: #000;
    border: 0px;
}

.delete {
    text-align: center;
}

button.deleteBtn {
    width: 80%;
    min-width: 200px;
    margin-top: 32px;
    border: 2px solid #e84832;
    background: rgba(0, 0, 0, 0);
    color: #e84832;
    padding: 4px 16px 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;

}

button.deleteBtn:hover {
    background: #e84832;
    border-color: #e84832;
    color: #fff;
}
