html, body, #root, .content {
    height: 100%;
}

.content {
    background: rgba(0,0,0,0);
}

.landing-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(250,250,250,.6), rgba(250,250,250,.6)), url('../../images/vertical-explorer-landing-backgroun.jpg');
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-page {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.landing-page button {
    background: #e84832;
    color: #fff;
    padding: 8px 16px;
    border: 0px;
    margin: 0 auto;
    margin-bottom: 5px;
    max-width: 200px;
    min-width: 125px;
    font-family: 'Quicksand', sans-serif;
    font-size: 21px;
}

.landing-page button:hover {
    background: #bd2d1a;
}

.landing-page button i {
    margin-left: 5px;
}

/* button.demoUser {
    background: rgba(0,0,0,0);
    color: #e84832;
    font-weight: 500;
    max-width: 300px;
    min-width: 125px;
}

button.demoUser:hover {
    background-color: rgba(0,0,0,0);
    color: #bd2d1a;
} */

h1 {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    justify-content: center;
}
